/* implementação de fontes*/
@font-face {
    src: url(fonts/Inter-VariableFont_slntwght.ttf);
    font-family: Inter;
}

@font-face {
    src: url(fonts/LexendDeca-Regular.ttf);
    font-family: LexendDeca;
}
/* fim da implementação de fontes*/

/* definindo o comportamento do box*/
* {
    box-sizing: border-box;
}

/* Definindo tamanho padrão da pagina*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Tamanho da fonte da pagina*/
html {
    font-size: 10px;
}

/* definindo altura do body, definindo a pagina como "flex" para melhor consistencia
e definição da cor de fundo do corpo da pagina*/
body {
    height: 100%;
    display: flex;
    background-color: hsl(233, 47%, 7%);
}

/* Class wrapper:
    Defino minha margem como automatica. defino a altura padrão entre largura e altura
    definindo a cor dee fundo e o arredondamento nas bordas.
    o flex flow: column organiza as outras divs em forma de colunas
    O justify-content: space-between Ira fazer a distribuição dos itens.
*/
.wrapper {
    margin: auto;
    width: 85%;
    height: 80%;
    background-color: hsl(244, 38%, 16%);
    border-radius: 1.5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/*
Class image:
    Defini o tamenho da imagem; Atraves da flex-shrink delimitamos a largura
    da classe de forma automatica a fim de não ter quebras de layout.
    definimos o arredondamento das bordas
    em background-size: cover é renderizazdo a imagem para preservar sua proporção
    e em background-repeat: no-repeat é definido para que a imagem não se repita caso o layout fuja da proporção.
*/
.image {
    height: 33.3%;
    flex-shrink: 0;
    border-radius: 1.5rem 1.5rem 0 0;
    background-size: cover;
    background-image: url("images/image-header-mobile.jpg");
    background-repeat: no-repeat;
}

/*
Class image-overlay:
    Foi definido tamanho e altura em % para se ajustar aos tamanhos
    e tambem definido uma coloração roxa para o fundo da imagem
*/
.image-overlay {
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 26, 150, 0.6);
}


/*
    em information foi usado space-evenly para que todos os itens sejam distribuidos igualmente em eixo de coluna com
    a ajuda do flex-flow: column utilizando flez para manter o layyout flexivel.

*/
.information {
    height: 66.6%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

header {
    height: 50%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 60%;
    font-family: Inter;
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1.5rem;
}

.highlight-text {
    color: rgba(102, 26, 150, 0.6);
}

.subtitle {
    width: 55%;
    font-family: LexendDeca;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
}

.info-items {
    height: 50%;
    border-radius: 0 0 1.5rem 1.5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    color: hsl(0, 0%, 100%);
}

.info-item > h1 {
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: Inter;
    font-size: 1.6rem;
}

.info-item > p {
    text-align: center;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}

@media only screen and (max-height: 568px) {
    .wrapper {
        height: 95%;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        flex-flow: row-reverse;
        width: 80%;
        height: 50%;
    }

    .image {
        height: 100%;
        width: 50%;
        border-radius: 0 1.5rem 1.5rem 0;
    }

    .image-overlay {
        border-radius: 0 1.5rem 1.5rem 0;
    }

    .information {
        width: 50%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    header {
        background-color: black;
        height: 0;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .title {
        width: 70%;
        text-align: left;
        font-family: Inter;
        font-size: 3.4rem;
        color: hsl(0, 0%, 100%);
    }

    .subtitle {
        width: 70%;
        text-align: left;
        font-size: 1.6rem;
    }

    .info-items {
        height: 0;
        width: 100%;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: start;
    }

    .info-item > h1 {
        margin-bottom: 0.5rem;
        text-align: left;
        font-family: Inter;
        font-size: 2.6rem;
    }

    .info-item > p {
        text-align: left;
        font-family: Inter;
        font-size: 1.2rem;
        color: hsla(0, 0%, 100%, 0.6);
    }
}